<div class="bg-lavender">
  <div class="loading-bar" [ngClass]="{'loading-bar-active': loading$ | async}"></div>
  <div class="p-1 border-bottom">
    <h3 class="pb-1">City</h3>
    <input type="text">
  </div>
  <div>
    <ul>
      <li class="p-1 border-bottom clickable" [class.activerow]="city.city?.id === (selectedCityId$ | async)"
        (click)="itemClicked(city.city)" *ngFor="let city of cities$ | async">
        <div class="row">
          <div>
            🏛️ {{city.city.name}}
          </div>
          <div class="ml-auto">
            <span class="badge bg-blue">{{city.stat?.newCount}}</span>
            <span class="badge bg-green">{{city.stat?.acceptedCount}}</span>
            <span class="badge bg-pink">{{city.stat?.rejectedCount}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>