<div class="bg-orange">
  <div class="loading-bar" [ngClass]="{'loading-bar-active': loading$ | async}"></div>
  <div class="p-1 border-bottom loading">
    <h3 class="pb-1">Country</h3>
    <input type="text">
  </div>
  <div>
    <ul>
      <li class="p-1 border-bottom clickable" [class.activerow]="country.country.id === (selectedCountryId$ | async)"
        (click)="itemClicked(country.country)" *ngFor="let country of countries$ | async">
        <div class="row">
          <div>
            🌎 {{country.country.name}}
          </div>
          <div class="ml-auto">
            <span class="badge bg-blue">{{country.stat?.newCount}}</span>
            <span class="badge bg-green">{{country.stat?.acceptedCount}}</span>
            <span class="badge bg-pink">{{country.stat?.rejectedCount}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>